<% provide :title, 'About' %>
<div class="media">
  <div class="media-body">
    <h5 class="mt-0 mb-1">思い出そんぐについて</h5>
    このサイトは、【自分の思い出をベースに曲を紹介するサイト】です。誰かの思い出とともに一曲聞いてみましょう。
  </div>
  <img class="d-flex ml-3" src="https://d2oe4hwshyef6j.cloudfront.net/production/uploads/image/post_body_picture/image/278502/picture_mobile_adc2276adce9c2bfdeeb016acf6aa81767ab28b9" alt="Generic placeholder image">
</div>
