<% provide :title, 'Help' %>
<div class="media">
  <div class="media-body">
    <h5 class="mt-0 mb-1">困ったら</h5>
    自分のエピソードを書いてみよう。
  </div>
  <img class="d-flex ml-3" src="https://www.asahicom.jp/articles/images/AS20180317002915_comm.jpg" alt="Generic placeholder image">
</div>
