<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">どうも!</h1>
    <img class="img-thumbnail" src="https://mengym.net/wp-content/uploads/2017/10/motemote-sayonara-matte.jpg" alt="サムネイル画像">
    <p class="lead">思い出の一曲をストーリーとともに教えてください。</p>
    <a class="btn btn-outline-primary btn-lg" href=<%= static_pages_index_path%> role="button">詳しく見てみよう</a>
  </div>
</div>
<div class="container">
  <h1>Made by 入村遼平</h1>
  <p>２チャンネルのクローンアプリ</p>
</div>
