<main class="mt-5 pt-5">
  <div class="container">
    <section class="card blue-gradient wow fadeIn" id="intro">
      <!-- Content -->
      <div class="card-body text-white text-center py-5 px-5 my-5" background-image =url ("https://images.pexels.com/photos/248797/pexels-photo-248797.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500")>
        <h1 class="mb-4">
          <strong>Learn Bootstrap 4 with MDB</strong>
        </h1>
        <p>
          <strong>Best & free guide of responsive web design</strong>
        </p>
        <p class="mb-4">
          <strong>The most comprehensive tutorial for the Bootstrap 4. Loved by over 500 000 users. Video and written versions available. Create your own, stunning website.</strong>
        </p>
        <a class="btn btn-outline-white btn-lg" href = <%= static_pages_index_path%> >Start free tutorial
          <i class="fas fa-graduation-cap ml-2"></i>
        </a>
      </div>
      <!-- Content -->
    </section>
  </div>
</main>
