<nav class="navbar fixed-bottom navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="https://koiyokoi.net/wp-content/uploads/2016/10/38b005303da3ceda63282a43fb6cda8e.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
    Bootstrap
  </a>
</nav>
